@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';

// -----------------------------------------------------------------------------
// c-logo
// -----------------------------------------------------------------------------
.c-logo {
  width: 100%;
  font-size: px-to-rem(48px);

  // ---------------------------------------------------------------------------
  // c-logo__link
  // ---------------------------------------------------------------------------
  &__link {
    margin-top: px-to-rem(-12px);
  }
}
