@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';
@import 'styles/abstracts/mixins';

// -----------------------------------------------------------------------------
// l-main-auth
// -----------------------------------------------------------------------------
.l-main-auth {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  background-color: $color-base-2;

  @include media-breakpoint('md') {
    grid-template-columns: repeat(2, 1fr);
  }
}
