@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';

// -----------------------------------------------------------------------------
// c-order-item-dropdown
// -----------------------------------------------------------------------------
.c-order-item-dropdown {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: px-to-rem(15px);
  align-items: flex-start;

  // ---------------------------------------------------------------------------
  // c-order-item-dropdown__img
  // ---------------------------------------------------------------------------
  &__img {
    max-height: px-to-rem(50px);
    font-size: px-to-rem(12px);
  }

  // ---------------------------------------------------------------------------
  // c-order-item-dropdown__title
  // ---------------------------------------------------------------------------
  &__title {
    display: block;
    overflow: hidden;
    max-width: px-to-rem(200px);
    margin-bottom: px-to-rem(5);
    color: $color-base-3;
    font-size: px-to-rem(14px);
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // ---------------------------------------------------------------------------
  // c-order-item-dropdown__remove
  // ---------------------------------------------------------------------------
  &__remove {
    padding: px-to-rem(3px);
    line-height: 0;
  }
}
