@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';

// -----------------------------------------------------------------------------
// l-auth
// -----------------------------------------------------------------------------
.l-auth {
  display: grid;
  align-content: center;
  align-self: center;
  justify-items: center;
  max-width: px-to-rem(440px);
  min-height: px-to-rem(735px);

  // ---------------------------------------------------------------------------
  // l-auth__logo
  // ---------------------------------------------------------------------------
  &__logo {
    font-size: px-to-rem(100px);
  }

  &__title {
    width: 100%;
    margin-top: px-to-rem(15px);
    padding-bottom: px-to-rem(5px);
    border-bottom: px-to-rem(1px) solid hexa-to-rgba($color-base-1, 0.5);
    color: $color-base-3;
    text-align: center;
  }

  // ---------------------------------------------------------------------------
  // l-auth__image
  // ---------------------------------------------------------------------------
  &__image {
    grid-row: span 2;
    object-fit: cover;
    height: 100%;
  }
}
