@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';

// -----------------------------------------------------------------------------
// l-auth
// -----------------------------------------------------------------------------
.l-auth {
  display: grid;
  align-content: center;
  align-self: center;
  justify-items: center;
  min-height: px-to-rem(735px);

  // ---------------------------------------------------------------------------
  // l-auth__logo
  // ---------------------------------------------------------------------------
  &__logo {
    font-size: px-to-rem(100px);
  }

  // ---------------------------------------------------------------------------
  // l-auth__image
  // ---------------------------------------------------------------------------
  &__image {
    grid-row: span 2;
    object-fit: cover;
    height: 100%;
  }
}
