@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';
@import 'styles/abstracts/mixins';

// -----------------------------------------------------------------------------
// l-restaurant-menu
// -----------------------------------------------------------------------------
.l-restaurant-menu {
  display: grid;
  gap: px-to-rem(30px);

  @include media-breakpoint('lg') {
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
  }

  // ---------------------------------------------------------------------------
  // l-restaurant-menu__text
  // ---------------------------------------------------------------------------
  &__text {
    padding: px-to-rem(20px);
    border-radius: px-to-rem(5px);
    background-color: $color-base-2;
  }

  // ---------------------------------------------------------------------------
  // l-restaurant-menu__item
  // ---------------------------------------------------------------------------
  &__item {
    @include media-breakpoint('lg') {
      grid-column: 1;
    }
  }
}
