@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';
@import 'styles/abstracts/mixins';

// -----------------------------------------------------------------------------
// l-restaurant-menu
// -----------------------------------------------------------------------------
.l-restaurant-menu {
  display: grid;
  gap: px-to-rem(30px);

  @include media-breakpoint('md') {
    grid-template-columns: 2fr 1fr;
    align-items: flex-start;
  }

  // ---------------------------------------------------------------------------
  // l-restaurant-menu__item
  // ---------------------------------------------------------------------------
  &__item {
    @include media-breakpoint('md') {
      grid-column: 1;
    }
  }
}
