@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';

// -----------------------------------------------------------------------------
// c-order-dropdown
// -----------------------------------------------------------------------------
.c-order-dropdown {
  // ---------------------------------------------------------------------------
  // c-order-dropdown__subtotal
  // ---------------------------------------------------------------------------
  &__subtotal {
    width: 100%;
    color: $color-base-3;
  }

  // ---------------------------------------------------------------------------
  // c-order-dropdown__button
  // ---------------------------------------------------------------------------
  &__button {
    width: max-content;
    margin: px-to-rem(12px) auto px-to-rem(20px) auto;
  }
}
