@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';
@import 'styles/abstracts/mixins';

// TODO: migrate to /styles/abstracts
@mixin color-primary {
  border-color: $color-primary;
  background-color: $color-primary;
  color: $color-base-2;
}

.c-button,
.c-link {
  // c-button, c-button:link, c-button:visited, c-link, c-link:link, c-link:visited
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  // c-button:active, c-button:focus, c-link:active, c-link:focus
  &:active,
  &:focus {
    outline: none;
  }

  // c-button:disabled, c-link:disabled
  &:disabled {
    cursor: not-allowed;
  }
}

// -----------------------------------------------------------------------------
// c-button
// -----------------------------------------------------------------------------
.c-button {
  // c-button, c-button:link, c-button:visited
  &,
  &:link,
  &:visited {
    border-width: 0;
  }

  // c-button--default
  &--default {
    padding: px-to-rem(10px) px-to-rem(30px);
    border-radius: px-to-rem(25px);
    transition: $duration-0-3s;

    // c-button--default:hover
    &:hover {
      // c-button--default:hover:not([disabled])
      &:not([disabled]) {
        transform: translate3d(0, px-to-rem(-4px), 0);
      }
    }
  }

  // c-button--round
  &--round {
    position: relative;
    align-items: center;
    width: max-content;
    padding: px-to-rem(14px);
    border: px-to-rem(1px) solid $color-base-1;
    border-radius: 100%;
    color: $color-base-3;
    transition: $duration-0-2s;
  }

  // c-button--compact
  &--compact {
    padding: px-to-rem(5px) px-to-rem(15px);
    border-radius: px-to-rem(25px);
    font-size: px-to-rem(15px);
    transition: $duration-0-2s;
  }

  // c-button--color
  &--color {
    // c-button--color-base-1
    &-base-1 {
      background-color: $color-base-1;
      color: $color-base-3;

      // c-button--color-base-1:disabled
      &:disabled {
        background-color: hexa-to-rgba($color-base-1, 0.4);
      }
    }

    // c-button--color-base-3
    &-base-3 {
      background-color: $color-base-3;
      color: $color-base-2;

      // c-button--color-base-3:disabled
      &:disabled {
        background-color: hexa-to-rgba($color-base-3, 0.4);
      }
    }

    // c-button--color-transparent
    &-transparent {
      background-color: transparent;
      color: $color-base-3;

      // c-button--color-transparent:disabled
      &:disabled {
        color: hexa-to-rgba($color-base-3, 0.4);
      }
    }
  }

  // c-button--hover-color
  &--hover-color {
    // c-button--hover-color-primary:hover:not([disabled])
    &-primary:hover:not([disabled]) {
      @include color-primary;
    }
  }

  &--hover-text-color {
    // c-button--hover-text-color-primary:hover:not([disabled])
    &-primary:hover:not([disabled]) {
      color: $color-primary;
    }
  }

  // c-button--active-color
  &--active-color {
    // c-button--active-color--primary
    &-primary {
      @include color-primary;
    }
  }

  // ---------------------------------------------------------------------------
  // c-button__label
  // ---------------------------------------------------------------------------
  &__label {
    position: absolute;
    left: 100%;
    margin-left: px-to-rem(5px);
    color: $color-base-3;

    @include media-breakpoint('md') {
      display: none;
    }
  }
}

// -----------------------------------------------------------------------------
// c-link
// -----------------------------------------------------------------------------
.c-link {
  // c-link--default
  &--default {
    padding-bottom: px-to-rem(1px);
    border-bottom: px-to-rem(1px) solid;
    transition: $duration-0-2s;
  }

  // c-link--color
  &--color {
    // c-link--color-base-2
    &-base-2 {
      color: $color-base-2;

      // c-link--color-base-2:disabled
      &:disabled {
        color: hexa-to-rgba($color-base-2, 0.4);
      }
    }

    // c-link--color-base-3
    &-base-3 {
      color: $color-base-3;

      // c-link--color-base-3:disabled
      &:disabled {
        color: hexa-to-rgba($color-base-3, 0.4);
      }
    }
  }

  // c-link--hover-color
  &--hover-color {
    // c-link--hover-color-primary:hover:not([disabled])
    &-primary:hover:not([disabled]) {
      border-bottom: px-to-rem(1px) solid;
      color: $color-primary;
    }
  }
}
