@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';
@import 'styles/abstracts/mixins';

// -----------------------------------------------------------------------------
// l-order-checkout
// -----------------------------------------------------------------------------
.l-order-checkout {
  display: grid;
  gap: px-to-rem(30px);
  padding: px-to-rem(20px);
  border-radius: px-to-rem(5px);
  background-color: $color-base-2;

  @include media-breakpoint('md') {
    grid-template-columns: 1fr 1fr;
  }

  // ---------------------------------------------------------------------------
  // l-order-checkout__group
  // ---------------------------------------------------------------------------
  &__group {
    display: grid;
    gap: px-to-rem(20px);

    &--full-width {
      @include media-breakpoint('md') {
        grid-column: 1 / 3;
      }
    }

    // l-order-checkout__group--2-col
    &--2-col {
      @include media-breakpoint('md') {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
