@import 'styles/abstracts/variables';
@import 'styles/abstracts/functions';

// -----------------------------------------------------------------------------
// l-header
// -----------------------------------------------------------------------------
.l-header {
  position: sticky;
  top: 0;
  z-index: zindex('l-header');
  border-bottom: px-to-rem(1px) solid $color-primary;
  background-color: #fff;

  // ---------------------------------------------------------------------------
  // l-header__container
  // ---------------------------------------------------------------------------
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: px-to-rem(84px);
  }

  // ---------------------------------------------------------------------------
  // l-header__logo
  // ---------------------------------------------------------------------------
  &__logo {
    margin-top: px-to-rem(-12px);
  }
}
