// -----------------------------------------------------------------------------
// Title: Base
//
// Finality:
// Sets default styles for html elements
// -----------------------------------------------------------------------------
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

* {
  // Exclusive to firefox
  scrollbar-width: thin;
  scrollbar-color: $color-primary hexa-to-rgba($color-base-3, 0.8);

  // Exclusive to chrome, edge and safari
  &::-webkit-scrollbar {
    width: px-to-rem(8px);
    height: px-to-rem(8px);
    background-color: hexa-to-rgba($color-base-3, 0.8);
  }

  &::-webkit-scrollbar-thumb {
    border: px-to-rem(1px) solid;
    border-radius: px-to-rem(5px);
    background-color: $color-primary;
  }

  &::-webkit-scrollbar-track {
    border-radius: px-to-rem(5px);
  }
}

::selection {
  background-color: $color-primary;
  color: $color-base-2;
}

html {
  font-size: $font-size-base;
}

body {
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: $color-secondary;
}

img {
  // Remove extra empty space
  display: block;
  max-width: 100%;
  border: 0;
}

ul,
li {
  list-style: none;
}

a,
a:link,
a:visited {
  display: block;
  text-decoration: none;
}

cite {
  font-style: normal;
}

table {
  border-collapse: collapse;
  font-size: px-to-rem(15px);
  word-break: normal;
}

table > :not(caption) > * > * {
  padding: px-to-rem(12);
  border-bottom-width: px-to-rem(1px);
  text-align: left;
}

thead {
  position: sticky;
  top: 0;
  background-color: $color-base-2;
  color: $color-base-3;
  box-shadow: px-to-rem(0) px-to-rem(1px) 0 $color-base-1;
}

tr,
th,
td {
  border-width: 0;
  border-style: solid;
  border-color: hexa-to-rgba($color-base-1, 0.35);
}
