// -----------------------------------------------------------------------------
// Title: Typography
//
// Finality:
// Define typography styles
// -----------------------------------------------------------------------------
body {
  color: hexa-to-rgba($color-base-3, 0.7);
  font-weight: $font-weight-normal;
  font-size: px-to-rem($font-size-default);
  font-family: $font-family-sans-serif;
  line-height: 1.5;
  word-break: break-word;
}

.t1 {
  font-size: px-to-rem(30px);
  letter-spacing: px-to-rem(1.2px);
  text-transform: uppercase;

  @include media-breakpoint('sm') {
    font-size: px-to-rem(38px);
    letter-spacing: px-to-rem(2.5px);
  }
}

.t2 {
  font-size: px-to-rem(20px);
}

.t3 {
  font-size: px-to-rem(18px);
}

.s1 {
  font-size: px-to-rem(15px);
}

.s2 {
  font-size: px-to-rem(14px);
}
